* {
    margin: 0;
    padding: 0;
}
.page {
    width: 92%;
    margin: 0 auto;
}
.mp-userinfo__pic {
    
    padding-top:58%;
    background: red;
    background-image: url(./pic.png);
    background-size: cover;
    background-position: center;
    /* border: 2px solid #e5e5e5;
    margin: 0 auto; 
    border-radius: 30px;
    display: block; */
}

.mp-userinfo__name {
    width: 55px;
    position: relative;
}

.mp-userinfo__name:after {
    content: "";
    background: url(./girl.png);
    position: absolute;
    right: 0;
    bottom:0;
    width: 14px;
    height: 14px;
    background-size: 100%;
    /* background-color: red; */
}
/* .user-name {
    font-size: 16px;
    color: #010101;
    /* text-align: left; */
    /* width: 152px;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} */ 
.mp-userinfo__label {
    float: left;
}
.label1 {
    /* position: relative; */
    /* padding: 12px; */
    /* float: left; */
  
    background-color: #48a6fd;

}
.label2 {
    background-color: #1dca42;
}
.label3 {
    width: 150px;
    background-color: #fb8800;
}
.mp-userinfo__item {
    float: left;
    width: 40%;
    /* padding: 55px; */
}
.mp-userinfo__ewm img{
    right: 0;
    bottom: 0;
}
